[submodule "3rdparty/SDL2"]
	path = 3rdparty/SDL2
	url = https://github.com/spurious/SDL-mirror
[submodule "3rdparty/GLEW"]
	path = 3rdparty/GLEW
	url = https://github.com/nigels-com/glew
[submodule "3rdparty/ASSIMP"]
	path = 3rdparty/ASSIMP
	url = https://github.com/assimp/assimp
